.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
  padding: 0;
}

.subtitle {
  color: white;
  font-weight: bold;
}

.pricetag {
  color: black;
  margin: 0;
}